<div class="clPage" id="idDivGameplay" style='display: none'>
  <div id="idModal" class="clModal">
    <div id="idModalContent">

    </div>
    <button onclick=onHideModal()>CLOSE</button>
  </div>
  <div class="clGameplayPlayer section">
      <div class="clPlayerRow">
        <div class="clPlayerName">
          <label id="idPlayerTop"></label>
        </div>
      </div>
      <div class="clPlayerRowMulti">
        <div class="clPlayerName">
          <label id="idPlayerMidOne" ></label>
        </div>
        <div class="clTischMid">
          <div id="idReizBubble" class="clReizBubble"></div>
        </div>
        <div class="clPlayerName">
          <label id="idPlayerMidTwo"></label>
        </div>
      </div>
      
      <div class="clPlayerRow">
        <div class="clPlayerName">
            <label id="idPlayerBottom"></label>
        </div>
      </div>

    </div>

    <div class="clGameplayMid section">
      <div id="idDivMeldungen">
      </div>
      <div id="idDivDab"></div>
      <div id="idDivStich"></div>
    </div>

    <div class="clGameplayActions section">
      <button id="idButtonHandOut" onclick="onHandOut()" style='display:none'>AUSGEBE</button>
      <label id="idButtonDabOpen" style='display:none'>DAB UFDECKE</label>      
      <div id="idDivReiz" style='display:none'>
        <button id="idButtonWeg" onclick="onWeg()">WEG</button>
        <div id="idDivReizInput" class="number">
          <input readonly id="idInputReiz" type="text"/>
          <button onclick="onClickPlus()" class="plus">+</button>
        </div>
        <button onclick="onReiz()">REIZ</button>
      </div>
      <div id="idDivMelden" class="clDivMelden">
        <button id="idButtonMelden" onclick="onMelden()" style='display:none'>MELDE</button>
        <div id="idDivTrumpf">
          <button id="idButtonTrumpfSchippe" class="trumpfbutton" value="schippe" onclick="onChooseTrumpf(this)"></button>
          <button id="idButtonTrumpfKreuz" class="trumpfbutton" value="kreuz" onclick="onChooseTrumpf(this)"></button>
          <button id="idButtonTrumpfHerz" class="trumpfbutton" value="herz" onclick="onChooseTrumpf(this)"></button>
          <button id="idButtonTrumpfBolle" class="trumpfbutton" value="bolle" onclick="onChooseTrumpf(this)"></button>

        </div>
      </div>
    </div>

    <div class="clGameplayCards section">
        <div id="idDivCardsOne" class="clCardRow"></div>
    </div>
    
  </div>