  <div class="clPage" id="idDivLobby" style='display: none'>
    <div class="clDivTop">
      <label id="idLabelRoomname"></label>
    </div>
    <div id="idDivPlayerLobby"></div>
    <div class="clDivBottom">
      <div id="idDivChooseTeam" class="clDivChooseTeam" style='display:none'>
        <button class="clButtonTeamOne selected" onclick="chooseTeam(this)" id="1"></button>
        <button class="clButtonTeamTwo" onclick="chooseTeam(this)" id="2"></button>
      </div>
      <button id="idButtonReady" onclick="onClickReady(this)">READY</button>
    </div>
  </div>