#idDivGameplay {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#idDivDab,
#idDivStich {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.section {
  border: 1px solid black;
  overflow: hidden;
}
.clGameplayPlayer {
  height: 30%;
}
.clGameplayMid {
  height: 30%;
}
.clGameplayActions {
  height: 10%;
}
.clGameplayCards {
  height: 30%;
  display: flex;
  align-items: center;
}
.card {
  width: 13%;
  height: 40%;
}
#idDivLobby {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#idDivPlayers {
  background-color: blue;
}
#idDivName {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#idDivRooms {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  background: white;
  border: 2px solid black;
  border-radius: 3px;
}
body {
  text-align: center;
  max-width: 450px;
  max-height: 900px;
  margin: auto;
  background-image: url("/static/background.jpg");
}
