@keyframes popup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
#idDivGameplay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #002f1e 34%, #222222 60%);
}
.clModal {
  z-index: 1;
  width: 80%;
  height: 80%;
  position: absolute;
  margin: auto;
  border: 3px solid white;
  background: #000000;
  left: 10%;
  top: 10%;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.clModal #idModalContent {
  overflow: auto;
  display: flex;
  justify-content: space-evenly;
}
.clModal #idModalContent label {
  border-top: 2px solid white;
}
.clModal button {
  color: white;
  height: 10%;
  border-color: white;
}
.clTopMenu {
  padding: 1rem 1rem 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2rem);
}
.clTopMenu .clButtonStats,
.clTopMenu .clButtonLastDab {
  background-size: contain;
  background-repeat: no-repeat;
  height: 3rem;
  width: 3rem;
}
.clTopMenu .clButtonStats {
  background-image: url(/static/img/stats.png);
}
.clTopMenu .clButtonLastDab {
  background-image: url(/static/img/lastdab.png);
}
#idDivDab,
#idDivStich {
  position: relative;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  -webkit-transition: all 0.5s linear;
  /* Chrome 1-25, Safari 3.2+ */
  transition: all 0.5s linear;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
#idDivDab.top,
#idDivStich.top {
  top: -50px;
}
#idDivDab.bottom,
#idDivStich.bottom {
  top: 50px;
}
#idDivMeldungen {
  justify-content: center;
  display: none;
  height: 100%;
  flex-direction: column;
  overflow: auto;
}
#idDivMeldungen .meldecardRow {
  min-height: 15%;
  padding-top: 0.5rem;
}
#idDivMeldungen .meldecardRow .meldecard {
  font-size: 1rem;
  width: 7%;
  height: 100%;
  margin-right: 0.25rem;
}
@media all and (min-width: 0px) and (max-width: 600px) {
  #idDivMeldungen .meldecardRow .meldecard {
    font-size: 0.5rem;
  }
}
.section {
  overflow: hidden;
}
.clGameplayPlayer {
  height: 30%;
}
.clPlayerRowMulti {
  height: 33%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.clPlayerRowMulti label {
  align-self: center;
}
.clPlayerRow {
  height: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.clPlayerName {
  width: 40%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  word-break: break-all;
}
.clPlayerName label.weggegangen {
  text-decoration: line-through;
  text-decoration-color: red;
}
.clTischMid {
  width: 30%;
}
#idPlayerBottom {
  align-self: flex-end;
}
.clGameplayMid {
  height: 30%;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}
.clGameplayActions {
  height: 10%;
  display: flex;
}
.clGameplayActions #idButtonHandOut,
.clGameplayActions #idButtonDabOpen {
  width: 50%;
  margin: auto;
}
.clGameplayActions #idDivReiz {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 100%;
  align-items: center;
}
.clGameplayActions #idDivReiz #idDivReizInput {
  display: flex;
  justify-content: center;
  width: 40%;
  max-height: 100%;
  border: 3px solid white;
  border-radius: 5px;
}
.clGameplayActions #idDivReiz #idDivReizInput input {
  width: 70%;
  text-align: center;
  height: 100%;
  border: none;
}
.clGameplayActions #idDivReiz #idDivReizInput button {
  border: none;
  border-left: 3px solid white;
  width: 30%;
  border-radius: 0px;
}
.clGameplayActions .clDivMelden {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}
.clGameplayActions .clDivMelden #idButtonMelden {
  height: 60%;
}
.clGameplayActions .clDivMelden #idButtonMelden:disabled {
  color: darkslategray;
  border-color: darkslategray;
}
.clGameplayActions .clDivMelden #idDivTrumpf {
  height: 60%;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.clGameplayActions .clDivMelden #idDivTrumpf .trumpfbutton {
  width: 20%;
  background-position: center;
  background-color: #cecece;
}
.clGameplayActions .clDivMelden #idDivTrumpf .trumpfbutton.activetrumpf {
  border: 3px solid #037d50;
}
.clGameplayActions .clDivMelden #idDivTrumpf #idButtonTrumpfSchippe {
  background-image: url("/static/img/schippe.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.clGameplayActions .clDivMelden #idDivTrumpf #idButtonTrumpfKreuz {
  background-image: url("/static/img/kreuz.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.clGameplayActions .clDivMelden #idDivTrumpf #idButtonTrumpfHerz {
  background-image: url("/static/img/herz.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.clGameplayActions .clDivMelden #idDivTrumpf #idButtonTrumpfBolle {
  background-image: url("/static/img/bolle.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.clGameplayCards {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clCardRow {
  width: 98%;
  margin-left: 2%;
  height: 32%;
  position: relative;
}
.clCardRow .card {
  height: 100%;
  position: absolute;
  transition-property: top, left;
  transition-duration: 1s;
}
.card {
  box-sizing: border-box;
  border-color: white;
  background-color: wheat;
  color: black;
  font-size: 1.25rem;
  font-weight: 600;
  width: 13%;
  height: 33%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: center;
  background-position-y: 10%;
  border-radius: 10%;
}
.card.umgedeckt {
  background: #037d50;
  background-size: cover;
}
.clInvalidCard {
  animation: shake 0.5s;
}
.dabcard,
.stichcard {
  transition: all 1s linear;
  margin: 2px;
}
.cardmeldestatemelden {
  background-color: #037d50;
  /*
    -webkit-box-shadow:inset 0px 0px 0px @borderradius rgb(51, 255, 0);
    -moz-box-shadow:inset 0px 0px 0px @borderradius rgb(51, 255, 0);
    box-shadow:inset 0px 0px 0px @borderradius rgb(51, 255, 0);
    */
}
.cardmeldestatedrucke {
  background-color: #d04444;
  /*
    -webkit-box-shadow:inset 0px 0px 0px @borderradius #f00;
    -moz-box-shadow:inset 0px 0px 0px @borderradius #f00;
    box-shadow:inset 0px 0px 0px @borderradius #f00;
    */
}
#idDivTrumpf {
  display: none;
  flex-direction: row;
}
.clReizBubble {
  color: black;
  height: calc(100% - 7px);
  width: calc(100% 7px);
  justify-content: center;
  align-items: center;
  display: none;
  position: relative;
  text-align: center;
  background-color: #fff;
  border: 3px solid #666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.clReizBubble:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}
.clReizBubble.top {
  animation: popup 0.5s;
}
.clReizBubble.top:before {
  left: calc(50% - 20px);
  top: -40px;
  border: 20px solid;
  border-color: transparent transparent white;
}
.clReizBubble.left {
  animation: popup 0.5s;
}
.clReizBubble.left:before {
  left: -40px;
  top: calc(50% - 20px);
  border: 20px solid;
  border-color: transparent white transparent transparent;
}
.clReizBubble.bottom {
  animation: popup 0.5s;
}
.clReizBubble.bottom:before {
  left: calc(50% - 20px);
  top: 100%;
  border: 20px solid;
  border-color: white transparent transparent;
}
.clReizBubble.right {
  animation: popup 0.5s;
}
.clReizBubble.right:before {
  left: 100%;
  top: calc(50% - 20px);
  border: 20px solid;
  border-color: transparent transparent transparent white;
}
.pulseit {
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s infinite;
}
#idDivLobby {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#idLabelRoomname {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.clDivChooseTeam {
  display: flex;
}
.clDivChooseTeam button {
  width: 50%;
  height: 2rem;
  transition: background-color 0.2s linear;
}
.clDivChooseTeam .clButtonTeamOne {
  margin-right: 0.5rem;
  border-color: blue;
}
.clDivChooseTeam .clButtonTeamOne.selected {
  background: blue;
}
.clDivChooseTeam .clButtonTeamTwo {
  margin-left: 0.5rem;
  border-color: red;
  background: transparent;
}
.clDivChooseTeam .clButtonTeamTwo.selected {
  background: red;
}
#idButtonReady {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-color: #38ef7d;
  color: #38ef7d;
  transition: background-color 0.2s linear;
}
#idButtonReady:disabled {
  background-color: #037d50;
  color: white;
}
.player {
  transition: color 0.5s linear;
}
.player.team-1 {
  color: blue;
}
.player.team-2 {
  color: red;
}
.player.notready {
  animation: flash linear 1s infinite;
}
#idDivPlayers {
  background-color: blue;
}
#idDivName {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clLabelTitle {
  padding-top: 5rem;
  font-size: 4rem;
  font-family: 'EasyRider';
}
.form__group {
  margin-top: 2rem;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 3px solid white;
  outline: 0;
  font-size: inherit;
  color: #fff;
  padding-top: 1.2rem;
  padding-bottom: 5px;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: inherit;
  cursor: text;
  top: 20px;
}
.form_button {
  font-family: inherit;
  width: 100%;
  margin-top: 2rem;
  height: 50px;
}
.form__label {
  position: absolute;
  top: 0;
  padding-top: 1rem;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: white;
}
.form__field:focus {
  font-weight: 700;
  border-width: 3px;
  border-color: #037d50;
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #037d50;
  font-weight: 700;
}
.form__field:focus ~ .form_button {
  border-color: #037d50;
  color: #037d50;
}
/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
#idDivRooms {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.clLabelLobbies {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.clDivRooms {
  overflow: auto;
  width: calc(100% - 4rem);
  width: inherit;
  width: 70%;
  margin-left: 2rem;
  margin-right: 2rem;
}
.clButtonCreate {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
}
.clOpenRoomItem {
  border: 3px solid #9b9b9b;
  border-radius: 10px;
  margin-bottom: 1rem;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clOpenRoomItem:hover {
  cursor: pointer;
}
@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-bold';
  src: url('/static/fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Orange';
  src: url('/static/fonts/Orange.ttf') format('truetype');
}
@font-face {
  font-family: 'EasyRider';
  src: url('/static/fonts/EasyRider.ttf') format('truetype');
}
body {
  background-color: #161f1c;
  font-family: "Roboto";
  font-size: 2rem;
  color: white;
  text-align: center;
  margin: auto;
  max-width: 600px;
  min-height: 100%;
  overscroll-behavior: contain;
}
body :focus {
  outline: none !important;
}
button {
  background: transparent;
  border-radius: 5px;
  font-family: inherit;
  border: 3px solid white;
  color: white;
  font-size: 2rem;
}
button:hover {
  cursor: pointer;
}
input {
  font-size: 2rem;
  background: transparent;
  border-radius: 5px;
  font-family: inherit;
  color: white;
  border: none;
}
.clDivBottom {
  min-height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 70%;
}
.clDivBottom button {
  font-family: "Roboto-bold";
}
.clDivTop {
  background-color: #9b9b9b;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  background-image: linear-gradient(#ffffff, #b7b2b2, #ffffff);
  color: black;
  font-family: 'Roboto-bold';
}
.clPage {
  background: #222222;
  height: 100%;
}
@media all and (min-width: 0px) and (max-width: 600px) {
  body,
  button,
  input {
    font-size: 1.25rem;
  }
  body {
    background: #222222;
  }
  button {
    touch-action: manipulation;
  }
}
