
#idDivGameplay {
    //width: calc(100% - 2rem);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(0deg, #002f1e 34%, #222222 60%);
}

.clModal {
    z-index: 1;
    width: 80%;
    height: 80%;
    position: absolute;
    margin: auto;
    border: 3px solid white;
    background: rgba(0, 0, 0, 1);
    left: 10%;
    top: 10%;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    #idModalContent {
        overflow: auto;
        display: flex;
        justify-content: space-evenly;
        label {
            border-top: 2px solid white;
        }
    }
    button {
        color: white;
        height: 10%;
        border-color: white;
    }
}

.clTopMenu {
    padding: 1rem 1rem 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2rem);
    .clButtonStats, .clButtonLastDab {
        background-size: contain;
        background-repeat: no-repeat;
        height: 3rem;
        width: 3rem;
    }
    .clButtonStats {
        background-image: url(/static/img/stats.png);
    }
    .clButtonLastDab {
        background-image: url(/static/img/lastdab.png);
    }
}

#idDivDab, #idDivStich {
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    -webkit-transition: all 0.5s linear;  /* Chrome 1-25, Safari 3.2+ */
    transition: all 0.5s linear;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

    &.left {

    }
    &.right {

    }
    &.top {
        top: -50px;
    }
    &.bottom {
        top: 50px;
    }
}

#idDivMeldungen {
    justify-content: center;
    display: none;
    height: 100%;
    flex-direction: column;
    overflow: auto;
    .meldecardRow {
        min-height: 15%;
        padding-top: 0.5rem;
        .meldecard {
            @media all and (min-width:0px) and (max-width: 600px) {
                font-size: 0.5rem;
            }
            font-size: 1rem;
            width: 7%;
            height: 100%;
            margin-right: 0.25rem;
        }
    }
}

.section {
    overflow: hidden;
}

.clGameplayPlayer {
    height: 30%;
}

.clPlayerRowMulti {
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    label {
        align-self: center;
    }
}

.clPlayerRow {
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.clPlayerName {
    width: 40%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    word-break: break-all;
    label {
        &.weggegangen {
            text-decoration: line-through;
            text-decoration-color:  red;
        }
    }
}

.clTischMid {
    width: 30%;
}

#idPlayerBottom {
    align-self: flex-end;
}

.clGameplayMid {
    height: 30%;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.clGameplayActions {
    height: 10%;
    display: flex;
    #idButtonHandOut, #idButtonDabOpen {
        width: 50%;
        margin: auto;
    }
    #idDivReiz {
        display: flex;
        justify-content: space-between;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        height: 100%;
        align-items: center;
        #idDivReizInput {
            display: flex;
            justify-content: center;
            width: 40%;
            max-height: 100%;
          //  border: 3px solid @gray;
            border: 3px solid white;
            border-radius: @borderradius;
            input {
                width: 70%;
                text-align: center;
                height: 100%;
                border: none;
            }
            button {
                //border-left: 3px solid @gray;
                border:none;
                border-left: 3px solid white;
                width: 30%;
                border-radius: 0px;
            }
        }
    }
    .clDivMelden {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
        #idButtonMelden {
            height: 60%;
            &:disabled {
                color: darkslategray;
                border-color: darkslategray;
            }
        }
        #idDivTrumpf {
            height: 60%;
            width: 50%;
            display: flex;
            justify-content: space-between;
            .trumpfbutton {
                width: 20%;
                background-position: center;
                background-color: #cecece;
                &.activetrumpf {
                    border: 3px solid @primary;
                }
            }
            #idButtonTrumpfSchippe {
                background-image: url("/static/img/schippe.png");
                background-size: contain;
                background-repeat: no-repeat;
            }
            #idButtonTrumpfKreuz {
                background-image: url("/static/img/kreuz.png");
                background-size: contain;
                background-repeat: no-repeat;
            }
            #idButtonTrumpfHerz {
                background-image: url("/static/img/herz.png");
                background-size: contain;
                background-repeat: no-repeat;
            }
            #idButtonTrumpfBolle {
                background-image: url("/static/img/bolle.png");
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}

.clGameplayCards {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clCardRow {
    width: 98%;
    margin-left: 2%;
    height: 32%;
    position: relative;
    .card {
        height: 100%;
        position: absolute;
        transition-property: top, left;
        transition-duration: 1s;
    }
}

.card {
    box-sizing: border-box;
    border-color: white;
    background-color: wheat;
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
    width: 13%;
    height: 33%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: center;
    background-position-y: 10%;
    border-radius: 10%;

    &.umgedeckt {
    //   background: url("/static/img/cardback.jpg");
        background: @primary;
        background-size: cover;
    }

}

.clInvalidCard {
    animation: shake 0.5s;
}

.dabcard, .stichcard {
    transition: all 1s linear;
    margin: 2px;
}

.cardmeldestatemelden {
    background-color: @primary;
    /*
    -webkit-box-shadow:inset 0px 0px 0px @borderradius rgb(51, 255, 0);
    -moz-box-shadow:inset 0px 0px 0px @borderradius rgb(51, 255, 0);
    box-shadow:inset 0px 0px 0px @borderradius rgb(51, 255, 0);
    */
}

.cardmeldestatedrucke {
    background-color: @myred;
    /*
    -webkit-box-shadow:inset 0px 0px 0px @borderradius #f00;
    -moz-box-shadow:inset 0px 0px 0px @borderradius #f00;
    box-shadow:inset 0px 0px 0px @borderradius #f00;
    */
}

#idDivTrumpf {
    display: none;
    flex-direction: row;
}


.clReizBubble {
    color: black;
    height: calc(100% - 7px);
    width: calc(100%  7px);
    justify-content: center;
    align-items: center;
    display: none;
    position: relative;
    text-align: center;
    background-color: #fff;
    border: 3px solid #666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    &:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
    }

    &.top {
        animation: popup 0.5s;
        &:before {
        left: calc(50% - 20px);
        top: -40px;
        border: 20px solid;
        border-color: transparent transparent white;
        }
    }
    &.left {
        animation: popup 0.5s;
        &:before {
        left: -40px;
        top: calc(50% - 20px);
        border: 20px solid;
        border-color: transparent white transparent transparent;
        }
    }
    &.bottom {
        animation: popup 0.5s;
        &:before {
        left: calc(50% - 20px);
        top: 100%;
        border: 20px solid;
        border-color: white transparent transparent;
        }
    }
    &.right {
        animation: popup 0.5s;
        &:before {
        left: 100%;
        top: calc(50% - 20px);
        border: 20px solid;
        border-color: transparent transparent transparent white;
        }    
    }
}

.pulseit{
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}

